{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <nav>
    <ul>
      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
    </ul>
  </nav>
{{- end }}

{{- define "_partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  <div class="button-container">
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <!-- <li> -->
    <button>
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ $name }}</a>
      {{- with .Children }}
        <ul>
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }}
  </button>
    <!-- </li> -->
  {{- end }}
{{- if site.Params.github }}
  <button>
    <a href="{{ site.Params.github }}" target="_blank" rel="noopener noreferrer">
        <i data-lucide="github"></i>
      </a>
    </button>
  {{- end}}
  {{- if site.Params.linkedin }}
  <button>
    <a href="{{ site.Params.linkedin }}" target="_blank" rel="noopener noreferrer">
        <i data-lucide="linkedin"></i>
      </a>
    </button>
  {{- end}}
  {{- if site.Params.hackthebox }}
 <button>
    <a href="{{ site.Params.hackthebox }}" target="_blank" rel="noopener noreferrer">
        <i data-lucide="box"></i>
      </a>
    </button>
  {{- end}}
  {{- if site.Params.email }}
 <button>
    <a href="{{ site.Params.email }}" target="_blank" rel="noopener noreferrer">
        <i data-lucide="mail"></i>
      </a>
    </button>
  {{- end}}

<div class="search-container">
  <label for="search-input" class="search-label">SEARCH</label>
  <div class="search-input-wrapper">
    <span class="corner corner-tl"></span>
    <span class="corner corner-tr"></span>
    <span class="corner corner-bl"></span>
    <span class="corner corner-br"></span>
    
    <input
      id="search-input"
      type="text"
      class="search-input"
      placeholder="> search posts..."
      autocomplete="off"
    />
  </div>
  <div id="search-results" class="search-results"></div>
</div>

<script src="/js/main.js"></script>


  </div>



{{- end }}
