<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
<link rel="stylesheet" href="{{ "css/colors.css" | absLangURL }}">
<link rel="stylesheet" href="{{ "css/style.css" | absLangURL }}">
<link rel="stylesheet" href="{{ "css/mobile.css" | absLangURL }}">

<link rel="stylesheet" href="{{ "css/search.css" | absLangURL }}">
      {{ with .OutputFormats.Get "rss" }}
  {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end }}
</head>
<body>
<script src="https://unpkg.com/lucide@latest"></script>

  <header>
    {{ partial "header.html" . }}
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>

<script>
  lucide.createIcons();
</script>
{{ if .Store.Get "hasMermaid" }}
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true, theme: "dark"});
  </script>
{{ end }}
</body>
</html>
