{{ define "main" }}
<div class="article">
  <div class="pageContent">
  <div class="content">
  <h1>{{ .Title }}</h1>
<!-- {{ if .Params.cover }}
    <img src="{{ .Params.cover }}" alt="{{ .Title }}" class="article-cover">
  {{ end }} -->
  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

  {{ .Content }}
      </div>

<div class="tags">
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </div>
    </div>

  
  <aside class="sidebar">
{{ if .Params.toc }}
    <h1>Table Of Contents</h1>
    <nav class="toc">{{ .TableOfContents }}</nav>
{{ end }}
  </aside>



</div>
{{ end }}
